#registeration-process-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.registeration-process-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.registeration-process-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .registeration-process-container {
    flex-direction: column;
  }
  .registeration-process-container img {
    object-fit: contain;
  }
}
