.team-section {
  position: relative;
  height: 100%;
}

.team-section-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 100%;
  padding: 4rem;
}

#team-h1 {
  font-weight: 900;
  color: #f79c53;
  text-align: left;
}

.grid-rows {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.grid-rows h2 {
  font-size: 2rem;
  font-weight: 900;
  color: #f79c53;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.team-grid {
  overflow-y: hidden;

  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  margin-top: 2rem;
}
